body{
    background-color: #edeeed;
    font-family: sans-serif;
}

/* Toolbar */
.toolbar{
    background-color: #fff;
    font-family: sans-serif;
    padding-right: .7em;
    margin: -10px -10px 5px -10px;
    position: fixed;
    display: inline-block;
    width: 100%;
    z-index: 1;
    border: 1px solid rgb(210,210,210);
}

.toolbar:not(#logo){
    text-align: center;
}

.bar{
    position: relative;
    align-content: center;
    display: inline-block;
}

.toolbar-section{
    display:inline-block;
}

.toolbar-section button{
    background-color: #fdfdfd;
    border: none;
    border-width: .05em;
    padding: .35em;
    outline: none;
}

.toolbar button:hover{
    color: #9d9;
}

.divider{
    background-color: #ddd;
    padding: 1px;
    display:inline-block;
    position: relative;
    top: 5.5px;
    height: 1em;
    margin: 0em .8em .1em .5em;
}

#logo{
    margin: 0em 4em 0em 1em;
    position: inline;
    font-family: sans-serif;
}

.mode{
    padding: .35em;
    outline: none;
    display: inline-block;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 6em;
    background-color: #4b4;
    text-align: right;
}

.mode button{
    background-color: #4b4;
    border: none;
    color: white;
    outline: none;
    display: inline-block;
    position: relative;
}

/* TextBox */
.textbox{
    position: relative;
    width: 21cm;
    height: 29.7cm;
    padding: 4cm 2cm 2cm 3cm;
    text-align: justify;
    margin: auto;

    background-color: #fff;
    outline: none;
    box-shadow: 0 10px 20px rgba(40,40,40,10);

    font-size: 12pt;
    font-family: Tahoma;
}

.preliminar{
    outline: none;
    text-align: right;
}

.normativa{
    outline: none;
}

.epigrafe{
    outline: none;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 18pt;
}

.ementa{
    outline: none;
    text-align: right;
    font-size: 10pt;
    display: inline-block;
    width: 12cm;
    margin-bottom: 18pt;
}

.autoria{
    outline:none;
    margin-bottom: 18pt;
    text-align: left;
}

.capitulo{
    /* margin-left: 1.5cm; */
    outline: none;
}

.titulo{
    outline: none;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6pt;
    font-weight: 700;
}

.subtitulo{
    outline: none;
    text-align: center;
    font-size: 12pt;
    margin-bottom: 18pt;
}

.abrev-artigo{
    width: auto;
    position: relative;
    font-weight: 700;
    outline: none;
    display: inline;
}

.conteudo{
    display:inline-block;
    position: relative;
    outline: none;
} 

.artigo:hover, .subtitulo:hover, .autoria:hover, .ementa:hover, .epigrafe:hover{
    background-color: #e3ffe352;
    border-radius: 5px;
}

.nullspace-1{
    height: 4.5em;
}

.nullspace-2{
    height: 2em;
}

.nullspace-3{
    height: 1.5em;
}

.nullspace-4{
    height: 1em;
}